body {
    background-color: #0b0f19;
    color: #c0c187;
    font-family: "Gill Sans Extrabold", sans-serif;
}

#container {
    position: absolute;
    top: 0px;
    overflow: auto;
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 70px);
}

#fade {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    background: linear-gradient(to bottom, #0B0F19, transparent);
    z-index: 100;
}

div.bot_line {
    width:auto;
    text-align: left;
    background-color: #10002f;
    border-width: 1px;
    border-style: dotted;
    border-color: #608a7d;
    border-radius: 15px;
    margin-bottom: 30px;
    vertical-align:  top;
}

div.user_line {
    text-align: right;
    width:auto;
    background-color: #011506;
    border-width: 1px;
    border-style: dotted;
    border-color: #608a7d;
    border-radius: 15px;
    margin-bottom: 10px;
    vertical-align:  top;
}
.user_table {
    float: right;
    min-width: 600px;
}
#messages {
    overflow-y: auto;
    clear:both;
}
.chat_line {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.userimg {
    height:100px;
    border-width: 1px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
    margin-left: 3px;
}

img.botimg {
    height:100px;
    border-width: 1px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
}

.botanim {
    max-width: 100px;
    max-height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
}

#input_container {
    position: fixed;
    bottom: 0px;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

#input_form {
    width:600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prompt {
    width:500px;
    height:50px;
    background-color: #1f2937;
    color: #888888;
    font-size: x-large;
    font-weight: bold;
}

#sendbutton {
    align-self: stretch;
    width:150px;
    background-color: #163acb;
    color: white;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
}

#record {
    align-self: stretch;
    width:150px;
    background-color: #cb4b16;
    color: white;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
}

#input_tbl {
    margin-left: auto;
    margin-right: auto;
}

#spinner {
    position: fixed;
    bottom: -3px;
    width:110%;
    left:-10px;
    min-height: 65px;
    max-height: 65px;
    background-image: image("/imgs/spinner.gif");
}

div.user_margin{
    width:110px;
    height:100%;
    float:right;
}

div.bot_margin{
    width:110px;
    height:100%;
    float:left;
}

#audioctrl {
    position: fixed;
    top:30px;
    left:10px;
    background-color: rgba(96,138,125,0.5);
    text-align: center;
    z-index: 1000;
}
#videocontainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:300px;
    text-align: center;
    z-index: 700;
}

#videoctrl {
    top:5px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(96,138,125,0.5);
    horiz-align: center;
    border: 8px solid #000000;
    border-radius: 15px;
}

#toggle_tts_old {
    background-color: #608a7d;
    color: #ffffff;
    max-width:50px;
    min-width:50px;
    font-size: x-small;
    font-weight: bolder;
    border: 0px;
}

#toggle_extras {
    background-color: #608a7d;
    color: #ffffff;
    max-width:50px;
    min-width:50px;
    font-size: x-small;
    font-weight: bolder;
    border: 0px;
}

#modellist {
    position: fixed;
    top:10px;
    right:10px;
    min-width:100px;
    background-color: rgba(96, 138, 135, 0.5);
    z-index: 200;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

#charlist {
    position: fixed;
    top:10px;
    right:10px;
    background-color: rgba(96,138,125,0.5);
    z-index: 200;
}

#persona_name {
    width:100%;
    font-weight: bold;
    text-align: center;
    color: #dadada;
    font-size: medium;
}
#model_name {
    width:100%;
    font-weight: normal;
    text-align: center;
    color: #dadada;
    font-size: x-small;
    margin-top: -3px;
}

#models {
    width: 200px;
    font-weight: normal;
    border: 0px;
    font-size: x-small;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: center;
}

#keepalive_from {
    width:50px;
    font-weight: normal;
    background-color: rgba(138, 96, 115, 0.5);
    color: #ffffff;
    border: 0px;
    font-size: x-small;
    z-index: 800;
}
#keepalive_to {
    width:30px;
    font-weight: normal;
    background-color: rgba(138, 96, 115, 0.5);
    color: #ffffff;
    border: 0px;
    font-size: x-small;
}

#keepalive {
    position: fixed;
    top:52px;
    right:10px;
    z-index: 900;
    font-size: x-small;
}

option.ollama {
    font-weight: normal;
    background-color: rgba(116, 96, 138, 0.5);
    color: #ffffff
}

option.tabby {
    font-weight: normal;
    background-color: rgba(96,138,125,0.5);
    color: #ffffff
}

#spacer {
    min-height: 40px;
    max-height: 40px;
}

img.refresh {
    height:25px;
    vertical-align: top;
    display: none;
}
#msg_container {
    position: absolute;
    width:95%;
    bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

input.option.selected {
    font-weight: bold;
    background: #1f2937;
    color: white
}

#imgupload {
    position: fixed;   /* Fix position on the bottom left of the screen */
    bottom: 0;         /* Position at bottom-most part */
    left: 0;           /* Position at left-most side */
}

.uploaded_img {
    width: auto;
    height:512px;
    border: 1px #0b0f19;
    margin: 5px 5px 5px 5px
}

.tc_center {
    text-align: center;
}
.upload_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.genimg_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.prsna {
    float: right;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 3px;
    border: 1px #0b0f19;
    background-color: #0B0F19;
    border-radius: 15px;
}
td.prsn_portrait {
    text-align: center;
}
img.prsn_portrait {
    width:50px;
    height:50px;
}
td.prsn_details {
    text-align: center;
    padding: 2px;
}
span.prsn_name {
    font-weight: bold;
    font-size: small;
}
span.prsn_role {
    font-size: small;
    font-style: italic;
}
span.prsn_model {
    font-size: x-small;
}

#w2l {
    width:150px;
    height:150px;
}

#idlevid {
    width:150px;
    height:150px;
}

#avsettings {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1000;
    background-color: #10002f;
}

.av {
    font-size: xx-small;
    text-align: left;
}