body {
    background-color: #0b0f19;
    color: #c0c187;
    font-family: "Gill Sans Extrabold", sans-serif;
}

#container {
    position: relative;
    overflow: auto;
    min-width: 300px;
    min-width: 300px;
    max-height: 100%;
}

div.bot_line {
    float: left;
    width:90%;
    text-align: left;
    background-color: #10002f;
    border-width: 1px;
    border-style: dotted;
    border-color: #608a7d;
    border-radius: 15px;
    clear: both;
    margin-bottom: 30px;
    vertical-align:  top;
}

div.user_line {
    float: right;
    width:90%;
    text-align:right ;
    background-color: #011506;
    border-width: 1px;
    border-style: dotted;
    border-color: #608a7d;
    border-radius: 15px;
    clear: both;
    margin-bottom: 10px;
    vertical-align:  top;
}

#messages {
    overflow-y: auto;
    clear:both;
}

img.userimg {
    height:100px;
    border-width: 1px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
    margin-left: 3px;
}

img.botimg {
    height:100px;
    border-width: 1px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
}

#input_container {
    position: fixed;
    bottom: 0px;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

#input_form {
    width:600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prompt {
    width:500px;
    height:50px;
    background-color: #1f2937;
    color: #888888;
    font-size: x-large;
    font-weight: bold;
}

#sendbutton {
    align-self: stretch;
    width:150px;
    background-color: #163acb;
    color: white;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
}

#record {
    align-self: stretch;
    width:150px;
    background-color: #cb4b16;
    color: white;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
}

#input_tbl {
    margin-left: auto;
    margin-right: auto;
}

#spinner {
    position: fixed;
    bottom: -3px;
    width:110%;
    left:-10px;
    min-height: 65px;
    max-height: 65px;
    background-image: image("/imgs/spinner.gif");
}

div.user_margin{
    width:110px;
    height:100%;
    float:right;
}

div.bot_margin{
    width:110px;
    height:100%;
    float:left;
}

#audioctrl {
    position: fixed;
    top:10px;
    left:10px;
    background-color: rgba(96,138,125,0.5);
    text-align: center;
}

#toggle_tts {
    background-color: #608a7d;
    color: #ffffff;
    max-width:50px;
    min-width:50px;
    font-size: x-small;
    font-weight: bolder;
    border: 0px;
}

#modellist {
    position: fixed;
    top:40px;
    right:10px;
    background-color: rgba(138, 96, 115, 0.5);
}

#charlist {
    position: fixed;
    top:10px;
    right:10px;
    background-color: rgba(96,138,125,0.5);
}

#persona {
    width:75px;
    font-weight: normal;
    background-color: rgba(96,138,125,0.5);
    color: #ffffff;
    border: 0px;
}

#models {
    width:200px;
    font-weight: normal;
    background-color: rgba(121, 96, 138, 0.5);
    color: #ffffff;
    border: 0px;
    font-size: x-small;
}

option.ollama {
    font-weight: normal;
    background-color: rgba(116, 96, 138, 0.5);
    color: #ffffff
}

option.tabby {
    font-weight: normal;
    background-color: rgba(96,138,125,0.5);
    color: #ffffff
}

#spacer {
    min-height: 40px;
    max-height: 40px;
}

img.refresh {
    height:25px;
    vertical-align: top;
}
#msg_container {
    position: absolute;
    width:600px;
    bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

input.option.selected {
    font-weight: bold;
    background: #1f2937;
    color: white
}

#imgupload {
    position: fixed;   /* Fix position on the bottom left of the screen */
    bottom: 0;         /* Position at bottom-most part */
    left: 0;           /* Position at left-most side */
}

.uploaded_img {
    width: 300px;
    height: auto;
    border: 1px #0b0f19;
    margin-left: auto;
    margin-right: auto;
}