# ignore __pycache__ folder
bchat/
models
.env
rpg_system_config.yaml
perplexity.py
prompt_chatbort.txt
generator.py
globals.py
cuda_ext.py
lora.py
model.py
model_init.py
ltm/memories.db
ltm/memories.sqbpro
alt_generator.py
ltm/
logs/*
audio/*
xtts_source
searxing_config.yaml
test-sentence.txt
tokenizer.py
personas/rpg
personas/Alva.png
personas/Alva.yaml
personas/Beezle.png
personas/Beezle.yaml
personas/Chilla.png
personas/Chilla.yaml
personas/Cypheria.png
personas/Cypheria.yaml
personas/Diem.png
personas/Diem.yaml
personas/Fritz.png
personas/Fritz.yaml
personas/Jorah.png
personas/Jorah_new.png
personas/Jorah.yaml
personas/Lara.png
personas/Lara.yaml
personas/Olivia.png
personas/Olivia.yaml
personas/Scarlet.png
personas/Scarlet.yaml
personas/Shadow.png
personas/Shadow.yaml
personas/Silas.png
personas/Silas.yaml
__pycache__/
