torch>=2.0.1
safetensors==0.3.2
sentencepiece>=0.1.97
ninja==1.11.1
flask
flask_cors
flask-uploads
tts
pydub
markdown
pygments
datetime
requests
beautifulsoup4
summarizer
PyPDF2
exllamav2
openai-whisper
ffmpeg-python
#langchain
#langchain_community
#chromadb
