<table class="chat_line">
    <tr>
        <td>
            <div class="user_line user_table">
                <table class="">
                    <td><div class="user_margin"><img src="{request_url}/get_face/user" class="userimg"></div></td>
                    <td><div class="user_text">%%user%%</div></td>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="bot_line">
                <table>
                    <td><div class="bot_margin"><video src="{request_url}/video/rnd=%%rnd%%" control autoplay class="botanim"></video></div></td>
                    <td><div class="user_text">%%bot%%</div></td>
                </table>
            </div>
        </td>
    </tr>
</table>