<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beezle Chat (v{version})</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/codehilite.css">
</head>
<body>
<div id="container">
    <div id="messages">{request_url}</div>
    <div id="spacer">&nbsp;</div>
</div>
<div id="audioctrl">
    <audio src="/voice" controls autoplay id="tts"></audio><br>
    <input type="button" id="toggle_tts" name="toggle_tts" value="{tts_onoff}" hx-trigger="click" hx-post="{request_url}/toggle_tts" hx-indicator="#spinner" >
    <label for="toggle_tts"></label>
</div>
<div id="modellist">
    <form id="modelform">
        <img class="refresh" id="refresh_models" src="/imgs/refresh.png" hx-post="{request_url}/list_models" hx-trigger="click"  hx-swap="innerHTML" hx-target="#models" hx-indicator="#spinner">
        <select id="models" name="models" size="auto" hx-timeout="270000' hx-post="{request_url}/load_model" hx-trigger="change" hx-swap="beforeend" hx-target="#messages" hx-indicator="#spinner" ></select>
    </form>
</div>
<div id="charlist">
    <form id="charform">
        <img class="refresh" id="refresh_personas" src="/imgs/refresh.png" hx-post="{request_url}/list_personas" hx-trigger="click"  hx-swap="innerHTML" hx-target="#persona" hx-indicator="#spinner">
        <select id="persona" name="persona" size="auto" hx-timeout="270000' hx-post="{request_url}/configure" hx-trigger="change" hx-swap="beforeend" hx-target="#messages" hx-indicator="#spinner" ></select>
    </form>
</div>
<img id="spinner" class="htmx-indicator" src="/imgs/spinner.gif">
<div id="input_container">
    <form action="{request_url}/generate" id="input_form">
        <button id="record">Talk</button>
        <textarea id="prompt" name="prompt" placeholder="Type a message..."></textarea>
        <button hx-post="{request_url}/generate" hx-trigger="click" hx-swap="beforeend" hx-target="#messages" id="sendbutton" hx-indicator="#spinner" autofocus>Send</button>
    </form>
</div>
<script type="application/javascript">
    function label_ttsbtn() {
        if( toggle_tts) {
            document.getElementById("toggle_tts").value="TTS ON";
        } else {
            document.getElementById("toggle_tts").value="TTS OFF";
        }
    }
    let toggle_tts={tts_toggle_state};
    let toggle_autonomy= {autonomy};

    // autonomy routine
    const minSeconds = 60;
    const maxSeconds = 270;
    let timer = undefined
    let randomSeconds = 0
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function autonomy() {
        document.getElementById("prompt").value = "[System Message:The user is still Away From Keyboard and has already been so for " + randomSeconds.toString() + " seconds]."
        document.getElementById("sendbutton").click()
        if (toggle_autonomy) {
            autonomyTimer()
        }
    }

    function autonomyTimer() {
        clearTimeout(timer);
        randomSeconds = getRandomInt(minSeconds, maxSeconds);
        timer = setTimeout(() => {
            autonomy();
        }, randomSeconds * 1000);
    }

    if(toggle_autonomy) {
        autonomyTimer()
    }

    document.getElementById("prompt").addEventListener('keydown', (event) => {
        if ((event.key === "Enter")  && (!event.shiftKey)){
            event.preventDefault();
        }
    })

    // standard prompt routine
    document.getElementById("prompt").addEventListener('keyup', (event) => {
        if ((event.key === "Enter")  && (!event.shiftKey)){
            event.preventDefault();
        }
        if ((event.code == "Enter") && (!event.shiftKey)) {
            document.getElementById("sendbutton").click()
        }
      }
    );

    document.addEventListener('htmx.beforeRequest', function(evt) {
        clearTimeout(timer);
    })

    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if(evt.target.id == "persona") {
            document.getElementById("refresh_models").click()
        }
        document.getElementById("prompt").value=""
        if( toggle_tts) {
            document.getElementById("tts").src="/voice/rnd="+Math.random().toString();
        }
        window.scrollTo(0, document.body.scrollHeight);
        document.getElementById("prompt").focus()
        if(toggle_autonomy) {
            autonomyTimer()
        }
    })

    document.addEventListener('htmx:afterRequest', function(evt) {
        console.log(evt.detail.elt.id)
        if( evt.detail.elt.id == "toggle_tts") {
            toggle_tts ^= true;
            label_ttsbtn()
        }
    })

    window.onload =  function() {
        document.getElementById("refresh_personas").click();
        label_ttsbtn();

        /* AUDIO RECORDING */
    }


    // WHISPER SPECIFIC CODE

    let chunks = [];
    let mediaRecorder;
    let whisperSizeThreshold = 1000
    let audioElem = document.getElementById('tts')

    document.addEventListener('keydown', (event) => {
        if (event.ctrlKey) {
            console.log('Control key is pressed.')
            if (! recordButton.hasAttribute('data-method'))  {
                recordButton.setAttribute('data-method', 'start')
            }
            const method =recordButton.getAttribute('data-method')
            if ((!mediaRecorder || method === 'start')) {
                startRecording()
            }
        }
    });

    document.addEventListener('keyup', (event) => {
        if (event.key === 'Control') {
            console.log('Control key is released.');
            if (mediaRecorder)  {
                stopRecording()
            }
        }
    });

    const recordButton = document.getElementById('record');
    recordButton.addEventListener('mousedown', function(event) {
        event.preventDefault();
        const method = this.getAttribute('data-method')
        if ((!mediaRecorder || method === 'start'))  {
            startRecording()
        }
    });

    recordButton.addEventListener('mouseup', function(event) {
        event.preventDefault();
        if (mediaRecorder)  {
            stopRecording()
        }
    });

    recordButton.addEventListener('click', function(event) {
        event.preventDefault();
    })

    function startRecording() {
        console.log("Start Recording");
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start(100);

                mediaRecorder.ondataavailable = function(e) {
                    chunks.push(e.data);
                }
                recordButton.textContent = 'Stop';
                recordButton.setAttribute('data-method', 'stop');
            })
            .catch(e => console.log(e));
    }

    async function stopRecording() {
        console.log("Stop Recording");
        debounceTimeoutId = undefined
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            mediaRecorder.stop();
            // give twice the slice time for the recorder to fill in all the chunks
            await new Promise(resolve => setTimeout(resolve, 200));

            let pendingRecording = new Blob(chunks, {type: 'audio/ogg'});

            chunks = [];
            recordButton.textContent = 'Talk';
            recordButton.setAttribute('data-method', 'start');

            // send audio to backend server
            let formData = new FormData();
            formData.append('audio', pendingRecording);
            console.log("recording size", pendingRecording.size)
            if (pendingRecording.size < whisperSizeThreshold) {
                return
            }
            const response = await fetch('{request_url}/whisper', {
                method: 'POST',
                body: formData
            });
            if(response.ok) {
                // If HTTP-status is 200-299
                document.getElementById('prompt').value = await response.text();
                document.getElementById('sendbutton').click()
            } else {
                alert("HTTP-Error: " + response.status);
            }
        }
    }
    function isPlaying() {
        return !audioElem.paused && !audioElem.ended && audioElem.currentTime > 0;
    }

    /* ************************************************************************
     Continuous Listening That kind of work, but only leads to problems
     Currently disabled until I find a better implementation that makes SENSE
    ************************************************************************ */

    // let audioContext = new (window.AudioContext || window.webkitAudioContext)();
    // let analyser = audioContext.createAnalyser();
    // let audioStream;
    // let source;
    //
    // // Lower values will make the meter less sensitive.
    // let volumeThreshold = 8;
    //
    // let debounceTimeoutId = undefined;
    //
    // navigator.mediaDevices.getUserMedia({ audio: true })
    //     .then(stream => {
    //         audioStream = stream;
    //         source = audioContext.createMediaStreamSource(stream);
    //         source.connect(analyser);
    //         checkVolume();
    //     })
    //     .catch(e => console.log(e));
    //
    // function checkVolume() {
    //     // console.log("volume : ", volume)
    //     if (!isPlaying() && listening) {
    //         recordButton.textContent = 'Listening';
    //         let data = new Uint8Array(analyser.frequencyBinCount);
    //         analyser.getByteFrequencyData(data);
    //
    //         let volume = data.reduce((a, b) => a + b) / data.length;
    //         if (volume > volumeThreshold) {
    //             // Clear previous timeout id if there was one
    //             if (debounceTimeoutId != undefined) {
    //                 clearTimeout(debounceTimeoutId);
    //                 debounceTimeoutId = undefined
    //             }
    //             console.log("Someone is talking");
    //             if (!mediaRecorder || mediaRecorder.state !== 'recording') {
    //                 console.log("calling START")
    //                 startRecording();
    //             }
    //         } else if (mediaRecorder && mediaRecorder.state === 'recording') {
    //             console.log("volume too low at ",volume)
    //             if (debounceTimeoutId === undefined) {
    //                 console.log("debouncing start ...")
    //                 debounceTimeoutId = setTimeout(stopRecording, 500);
    //             }
    //         }
    //         // Continue monitoring
    //         requestAnimationFrame(checkVolume);
    //     } else {
    //         recordButton.textContent = 'Wait';
    //         if( debounceTimeoutId != undefined) {
    //             console.log("no recording taking place.")
    //             clearTimeout(debounceTimeoutId);
    //             debounceTimeoutId = undefined
    //         }
    //     }
    // }
    //


</script>
</body>
</html>